# Supabase - React
REACT_APP_SUPABASE_URL=sua_url_do_supabase
REACT_APP_SUPABASE_KEY=sua_chave_do_supabase
REACT_APP_SUPABASE_SERVICE_KEY=sua_chave_de_servico_do_supabase

# Supabase - Next.js
NEXT_PUBLIC_SUPABASE_URL=sua_url_do_supabase
NEXT_PUBLIC_SUPABASE_KEY=sua_chave_do_supabase
NEXT_PUBLIC_SUPABASE_SERVICE_KEY=sua_chave_de_servico_do_supabase

# OpenAI - React
REACT_APP_IA_API_KEY=sua_chave_da_openai
REACT_APP_IA_API_URL=https://api.openai.com/v1/chat/completions
REACT_APP_IA_MODEL=gpt-3.5-turbo

# OpenAI - Next.js
NEXT_PUBLIC_IA_API_KEY=sua_chave_da_openai
NEXT_PUBLIC_IA_API_URL=https://api.openai.com/v1/chat/completions
NEXT_PUBLIC_IA_MODEL=gpt-3.5-turbo